<!-- Main page html view -->
<!DOCTYPE html>
<html>
  <!-- include head -->
  <%- include partials/head %>   
  
  <body class="d-flex flex-column h-1000 mb-5 body-style" >
    <header> 
      <!-- include navbar -->
      <%- include partials/navbar %>
    </header>
      <main class="flex-shrink-0">
        <div class="container mt-4 mb-2 container-style">
          <div class="row" style="height: 100%;" >
            <% if(title == "Home") { %> 
              <!-- include partial home page -->
              <%- include partials/home %>
              <%} else if(title == "About") { %> 
                <!-- include partial about page -->
              <%- include partials/about %>
            <%} else if(title == "Services") { %> 
              <!-- include partial services page -->
              <%- include partials/services %>
            <%} else if(title == "Projects") { %>
              <!-- include partial projects page --> 
              <%- include partials/projects %>
            <% } %>            
          </div>
      </main>   
  </body>
  <footer class="footer mt-auto py-2 fixed-bottom footer-bg">
    <!-- include footer -->
    <%- include partials/footer %>
  </footer>
</html>
