<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  </head>
  <body class="d-flex flex-column h-1000" style="background-color: slategray" >
    <header>      
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000; padding-top: unset; padding-bottom: unset;">
      <div class="container-fluid">
        <a class="navbar-brand bd-brand-item w-100 p-0" href="/">
          <img src="images/my-logo.png" alt="Bootstrap" width="85" height="85" loading="lazy">
      </a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(title == 'Home'){ %> 
              <li class="nav-item active">
            <% } else { %> 
                <li class="nav-item">
            <% } %> 
              <a class="nav-link navbar-brand" aria-current="page" href="/"><i class="fas fa-h-square"></i> Home</a>
            </li>
            <% if(title == 'About'){ %> 
              <li class="nav-item active">
            <% } else { %> 
                <li class="nav-item">
            <% } %> 
              <a class="nav-link navbar-brand" href="/about"><i class="fas fa-question-circle"></i> About</a>
            </li>
            <% if(title == 'Services'){ %> 
              <li class="nav-item active">
            <% } else { %> 
                <li class="nav-item">
            <% } %> 
              <a class="nav-link navbar-brand" href="/services"><i class="fas fa-user-shield"></i> Services</a>
            </li>
            <% if(title == 'Projects'){ %> 
              <li class="nav-item active">
            <% } else { %> 
                <li class="nav-item">
            <% } %>
              <a class="nav-link navbar-brand" href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
            </li>
            <% if(title == 'Contact'){ %> 
              <li class="nav-item active">
            <% } else { %> 
                <li class="nav-item">
            <% } %>
              <a class="nav-link navbar-brand" href="/contact"><i class="fas fa-id-card"></i> Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row mb-4">
          <% if(title == "Home") { %> 
            <%- include partials/home %>
          <%} else if(title == "About") { %> 
            <%- include partials/about %>
          <%} else if(title == "Services") { %> 
            <%- include partials/services %>
          <%} else if(title == "Projects") { %> 
            <%- include partials/projects %>
          <%} else if(title == "Contact") { %> 
            <%- include partials/contact %>
          <% } %>            
        </div>
    </main>   
  </body>

  <footer class="footer mt-auto py-0 bg-secondary fixed-bottom" style="background-color: darkslategrey">
    <div class="container">
      <span class="text-white">&copy;Express Portfolio Site</span>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
  </footer>
</html>
